/*================ INDEX ================*/
.headerConteiner{
	background-position: center;
	@include d-flex(center, center,);
}

.fondo{
	width: 100vw;
}

.textBombonera{
	color: $keyColor;
	font-size: $textLg;
	position: absolute;
	margin-bottom: 130px;
	@media (max-width: 530px){ 
		font-size:$textMs ;
		@media (max-width: 383px){
			font-size: $textMs;
		}
	}
}

.audioBoca{
	position: absolute;
	margin-bottom: 10px;	
}

.formulario{
	text-align: center;
	background-color: $white;
	width: 60vw;
	margin-top: 40px;
	margin-bottom: 40px;
	@media (max-width: 530px){ 
		width: 100vw; 
	}
}

.marg{
	background-color: $black;
}

/*================ Biografia ================*/

.texto{
	flex-direction: column;
	@include d-flex(center, center);
		h1{
			background-color:map-get($map:$paleta, $key:'uno');
			background: linear-gradient(180deg, rgba(0,0,51,1) 55%, rgba(0,0,130,1) 79%);
			color: $keyColor;
			@include tamaño(100vw, auto);
			@include texto(5rem, 1.8, none);
			text-align: center;
			font-style: italic;
			font-weight: bolder;
			@media (max-width: 900px){ 
				font-size: 3rem;
		}
	}		
}

.imagen{
	width: 80vw;
	@media (max-width: 1200px){
		width: 70vw;
		@media (max-width: 458px){ 
		width: 100vw;
		}
	}
}

.bio{
	width: 100%;
	background-color: $black;
	text-align: center;
		img{
			@include tamaño(25vw, auto);
			@media (max-width: 768px){ 
			@include tamaño(50vw, auto);
		}
	}
}

.parraf{ 
			color: $white;
			@include texto(3rem, 1.8, none);
			margin: 45px 45px;
			font-family: $mainFont;
			@media (max-width: 1500px){ 
			font-size: 25px;
			line-height: 1.5;
			margin-top: 10px;
			@media (max-width: 768px){ 
			font-size: 12px;
				@media (max-width: 450px){ 
				margin-top: 10px;
				
				}
			}
		}
	}

.inicio{
	@include texto(3rem, 1.5, underline);
	color: $white;
	background-color:map-get($map:$paleta, $key:'dos');
	@include border();
	@include font();
	@media (max-width: 768px){ 
		font-size: 2rem;
	}
}

.borde{
	border-top-width: 10px;
	border-top-color: map-get($map:$paleta, $key:'tres');
	border-top-style: double;
}

.fotito{
	margin-top: 50px;
	padding-top: 30px;
	@media (max-width: 768px){ 
		margin-top: 10px;
		padding-top: 10px;
	}
}

.boca{
	@extend .inicio;
	color: map-get($map:$paleta, $key:'cuatro');
	background-color:map-get($map:$paleta, $key:'cinco');
}

.barca{
	@extend .inicio;
	color: map-get($map:$paleta, $key:'ocho');
	background-color:map-get($map:$paleta, $key:'seis');
}

.villa{
	@extend .inicio;
	color: map-get($map:$paleta, $key:'uno');
	background-color:map-get($map:$paleta, $key:'cuatro');
}

.arg{
	@extend .inicio;
	color: map-get($map:$paleta, $key:'tres');
	background-color:map-get($map:$paleta, $key:'siete');
}

#imag{
	width: 60vw;
	@media (max-width: 768px){ 
		width: 60vw;
	}
}

/* //////////////////// SELECTORES ////////////////*/


#selectores p.one:first-letter{
	background-color: map-get($map:$paleta, $key:'seis');
	font-size: 3rem;
}

#selectores p.one:first-line{
	font-style: italic;
}

#selectores p.two:first-letter{
	background-color: map-get($map:$paleta, $key:'uno');
	color: $white;
	font-size: 3rem;
}

#selectores p.tres:first-letter{
	background-color: map-get($map:$paleta, $key:'once');
	color: $black;
	font-size: 3rem;
}

#selectores p.cuatro:first-letter{
	background-color: map-get($map:$paleta, $key:'siete');
	color: $black;
	font-size: 3rem;
}

#selectores p > span{
	background-color: map-get($map:$paleta, $key:'doce');
	font-weight: bold;
}

/*================ Titulos ================*/

.headerTitulo{
	@include d-flex(center, center);
	flex-direction: column;
}

.tituloRoman{
	background-color: $secondaryColor;
	text-align: center;
	width: 100vw;
	font-size: $textLg;

	}
	
.slider{
	width: 60vw;
	margin-top: 20px;
		@media (max-width: 768px){
			width: 70vw;
	}
}

.fot1{
	width: 50vw;
}

.fot2{
	width: 53vw;
}

.fot3{
	width: 40vw;
}

.div{
	@include d-flex(center, center);
	flex-direction: column;
}

.tableta{
	@include tamaño(80vw, 20vh);
	text-align: center;
}

 .campeon{
 	color: $white;
 	width: 100%;
	font-size: 5rem;
	margin-top: 20px;
	text-align: center;
	@include d-flex(center, center);
	border-top-style: double;
	border-top-width: 10px;
	border-top-color: map-get($map:$paleta, $key:'diez');
	border-bottom-style: double;
	border-bottom-width: 10px;
	border-bottom-color: map-get($map:$paleta, $key:'diez');
		@media (max-width: 768px){
			font-size: $textMs;
	}
 }

.tabl{
	@include texto(2rem, 1.8, none);
	text-align: center;
	font-weight: bold;
		@media (max-width: 768px){
		font-size: 1rem;
	}
}

.art{
	margin-top: 20px;
	background:$black;
	border-bottom-color:map-get($map:$paleta, $key:'cuatro');
	border-bottom-width:3px;
	border-bottom-style:solid;
	
}

.titul{
	color: map-get($map:$paleta, $key:'cinco');
	font-size: $textMs;
	text-align: center;
	font-weight: bold;
	background-color:map-get($map:$paleta, $key:'cuatro');
}

.stats{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items:center;
	margin-top: 15px;
}

.gol{
	color: $white;
	font-size: $textMs;
	border-style: solid;
	border-width: 3px;
	border-color: map-get($map:$paleta, $key:'ocho');
	border-radius: 15px;
	padding:6px 6px;
	background: rgb(3,38,107);
	background: linear-gradient(93deg, rgba(3,38,107,1) 32%, rgba(215,208,17,1) 100%);
	@media (max-width: 500px){
		border-width: 1px;
		font-size: $textSm;
	}
}

.gol3{
	@extend .gol;
	border-color:$black;
	background: rgb(23,23,21);
	background: linear-gradient(93deg, rgba(23,23,21,1) 28%, rgba(36,40,66,1) 47%, rgba(235,238,252,1) 100%);
}

.barr{
	width: 70vw;
	height: 5vh;
	text-align: center;
	animation: Aumentar 5s ease;
	@media (max-width: 500px){
		height: 2vh;
	}
}

.barra{
	font-size: $textMs;
	text-align: left;
	font-weight: bold;
	background: rgb(3,38,107);
	background: linear-gradient(93deg, rgba(3,38,107,1) 32%, rgba(215,208,17,1) 100%);
	@media (max-width: 500px){
		font-size: $textSm;
	}
}

.barra3{
	@extend .barra;
	background: rgb(23,23,21);
	background: linear-gradient(93deg, rgba(23,23,21,1) 28%, rgba(36,40,66,1) 47%, rgba(235,238,252,1) 100%);
}

@keyframes Aumentar{
	0%{width: 0%;}
	100%{width: 70%;}
}

/*================ Noticias ================*/

.noticias{
	background-color: $secondaryColor;
	text-align: center;
	width: 100vw;
	font-size:$textLg;
}

.title{
	padding-top:10px;
	padding-bottom:10px;
	font-size: $textXxl;
	@include font();
		@media (max-width: 550px){
			padding-top:2px;
			padding-bottom:2px;
			font-size: $textMs;
	}
}

.fondo{
	width: 100vw;
	@media (max-width: 1028px){
		width: 90vw;
	}
}

.textnoti{
	@include texto(15px, 1.8, none);
	@media (max-width: 420px){
			@include texto(10px, 1.8, none);
		}
}

.llave{
	width: 70vw;
	margin-top: 20px;
	@include d-flex(center, center);
		@media (max-width: 1028px){
			width: 80vw;
				@media (max-width: 420px){
					width: 100vw;
		}
	}
}

#noti{
	background-color: #8BC6EC;
	background-image: -webkit-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
	background-image: -moz-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
	background-image: -o-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
	background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
	color: $black;
}

.foto1{
	width: 30vw;
		@media (max-width: 420px){
			width: 40vw;
		}
}

.foto2{
	@extend .foto1;
	width: 50vw;
}

.foto3{
	@extend .foto2;
}

.foto4{
	@extend .foto2;
}

/*================ Contacto ================*/
.titu{
	font-size: 2rem;
	text-align: center;
	color: $secondaryColor;
	margin-top: 20px;
}

.cont{
	background-color: map-get($map:$paleta, $key:'nueve');;
	color: $black;
	font-size: 2rem;
	margin-top: 40px;
	width: 80vw;
	@media (max-width: 450px){
		font-size: 1rem;
		width: 80vw;
	}
}

.btn-b{
	background-color: $black;
	color: $white;
	font-size: 2rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mapa{
	color: $white;
	margin-top: 40px;
	@include d-flex(center,center);
	flex-direction: column;
	h2{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 2rem;
		h4{
			margin-bottom: 20px;	
		}
	}
}

.conte{
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: map-get($map:$paleta, $key:'ocho');
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: map-get($map:$paleta, $key:'ocho');
}

.map{
	@include tamaño (50vw, 50vh);
	margin-top: 20px;
	margin-bottom: 30px;
		@media (max-width: 450px){
			@include tamaño (80vw, 20vh);
	}
}

/*================ ERROR 404 ================*/

.error{
	background-color: rgb(0,0,51);
	background-attachment: fixed;
	overflow-x: hidden;
}

.error404{
	@include d-flex(center,center);
	flex-direction: column;
	text-align: center;
	height: calc(100vh - 100px);
	width: 100%;
}

.col{
	color: map-get($map:$paleta, $key:'cuatro');
	@include texto(4rem, 1.8, none);
	@media (max-width: 450px){
			@include texto(2rem, 1.8, none);
	}
}

.orion{
	margin: 20px 20px;
	width: 80%;
	border: 10px solid rgba(0, 0, 0, 0.5);
	border-radius: 2px; 
}

.animation{
	animation-duration: 2.5s;
	animation-fill-mode: both;
	animation-iteration-count:infinite;
}

.titu{
	animation-name:titu
}

.btn-bt{
	background-color:#fabc3a;
	font-size: 15px;
}

@keyframes titu {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0px);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

/*================ ANIMACIONES ================*/

.ima:hover {
    transform: scale(1.1);
}

